body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}
.button:hobody {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}
.button:hover{
    background-color: orangered;
    color: white;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}
.post:hover{
    background-color: #36bbce;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}
.article-but:hover{
    background-color: white;
    color: #36bbce;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
aside{
    right:850px;
    position: fixed;
    top: 180px;
    width: 120px;
    height: 350px;
    border: 2px solid navy;
    background-color:navy ;
    border-radius:35px ;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
}
.img{
    position: absolute;
    top:30px;
    right:15px;
}
hi::before{
    background-image: url(https://learn.logikaschool.com/uploads/student/3135051/677a7dc8998b1.png);
    width: 30px;
    height:30px ;
    position:absolute ;
    background-size: cover ;
    left:350;
    display: inline-block;
    content:url("");


}
.tel::after{
    background-image:url(https://learn.logikaschool.com/uploads/student/3135051/677a7fd26c4e5.png) ;
    width:25px;
    height:25px ;
    position:absolute ;
    background-size: cover ;
    left:78;
    display: inline-block;
    content:url("");

}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}
.nav-link:hover{
    color: #36bbce;
    border-bottom:3 px dotted #36bbce ;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
aside{
    right:850px;
    position: fixed;
    top: 180px;
    width: 120px;
    height: 350px;
    border: 2px solid navy;
    background-color:navy ;
    border-radius:35px ;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
}
.img{
    position: absolute;
    top:30px;
    right:15px;
}
hi::before{
    background-image: url(https://learn.logikaschool.com/uploads/student/3135051/677a7dc8998b1.png);
    width: 30px;
    height:30px ;
    position:absolute ;
    background-size: cover ;
    left:350;
    display: inline-block;
    content:url("");


}
.tel::after{
    background-image:url(https://learn.logikaschool.com/uploads/student/3135051/677a7fd26c4e5.png) ;
    width:25px;
    height:25px ;
    position:absolute ;
    background-size: cover ;
    left:78;
    display: inline-block;
    content:url("");

}
